{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories
{% endblock %}

{% block body %}
	<h1>Nos catégories :
	</h1>
	{% for category in categorys %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ category.name }}
				{# Lien vers la fiche de la catégorie : #}
				<a href="{{ path("category_show", { id: category.id }) }}">Voir la fiche</a>
			</div>
		{% else %}
			Aucune catégorie trouvée.
		{% endfor %}

		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	{% endblock %}
