{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">

		<div class="media-body">

			{% for episode in season.episodes %}
				<h1 class="mt-0">{{ episode.title }}</h1>
				<p>{{ episode.synopsis }}</p>
				<a href="{{ path("program_episode_show", { programSlug: program.slug, season_id: season.id, episodeSlug: episode.slug }) }}">Voir le détail de l'épisode</a>
			</div>
		</div>
	{% endfor %}

{% endblock %}
