$light: #000000;
$info: #FF0000;

$sucessColor: #02ca0f;
$errorColor : rgba(100, 6, 6, 0.895);

$theme-colors: (
    "sucessColor": $sucessColor,
    "errorColor" : $errorColor
);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(34, 34, 34);
}

h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
}

a {
    color: #000000;
    $display-font-weight: 500;
}

.indexProgram {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

h4 {
    color: aliceblue;
}

p {
    color: aliceblue;
}