<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bienvenue les wilders sur mon Netlfix</title>
	</head>
	<body>
		<h1>{{ website }}
			Bienvenue les wilders sur mon Netlfix</h1>
	</body>
</html>
