{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>
		Home</h1>

	<h1 style="text-align:center">
		<strong>Super Test</strong>
	</h1>
	<p>&nbsp;</p>
	<h2>
		<strong>Super test :</strong>
	</h2>
	<p>Ici mon premier paragraphe test</p>
	<p>ici mon deuxi&egrave;me paragraphe test</p>
{% endblock %}
